.home-carousel-info {
	padding: 10px 0;
	border-bottom: solid 1px $borderGray;
	margin-bottom: 20px;

	.span3 {
		border-left: solid 1px $borderGray;
		width: 270px;
		margin-left: 14px;
		padding-left: 15px;

		&:first-child {
			margin-left: 15px;
			border-left: none;
		}
	}
}

.home-show-row {
	margin-left: 0;
	.span1 {
		width: 153px;
		margin-left: 0;
		padding: 10px;
		&.train {
			background: url(../img/train.jpg) no-repeat 0 30px;
		}
	}
}

.home-train {
	text-align: center;
	height: 50px;
}