.menu {
	@include clearfix();
}

.menu-dropdown {
	position: relative;
	width: 200px;
	height: 36px;
	float: left;
}

.menu-dropdown-heading {
	display: block;
	width: 160px;
	height: 22px;
	background: $green;
	color: #fff;
	padding: 9px 20px;
	i {
		float: right;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
		background: darken($green, 5%);
	}
}

.menu-dropdown-body {
	position: absolute;
	border: solid 1px $borderGray;
	border-top: none;
	min-height: 300px;
	list-style: none;
	background: $white;
	@include box-shadow(0 0 5px rgba(0,0,0,.1));
	&,
	& li {
		padding: 0;
		margin: 0;
	}
	li {
		padding: 10px;

		h4 {
			font-size: 14px;
			margin: 0;
			margin-bottom: 5px;
		}

		a {
			font-size: 12px;
		}

		&:nth-child(even) {
			background: $grayLighter;
		}
	}
}

.menu-nav {
	border: solid 1px $grayLighter;
	border-left: none;
	border-bottom: solid 3px $green;
	margin-left: 200px;
	@include clearfix();
	> li {
		float: left;
	}
	> li > a {
		padding: 8px 20px;
		color: $gray;
	}
	> .active > a {
		&,
		&:hover,
		&:active {
			background: $borderGray;
			font-weight: bold;
			color: $green;
		}
	}
}